<div class="row my-2">
  <%= f.label :image, "商品画像", class: "col-3" %>
  <%= f.file_field :image, class: "form-control col-8" %>
</div>

<div class="row my-2">
  <%= f.label :name, "商品名" , class: "col-3" %>
  <%= f.text_field :name, placeholder: "商品名", class: "form-control col-8" %>
</div>

<div class="row my-2">
  <%= f.label :introduction, "商品説明", class: "col-3" %>
  <%= f.text_area :introduction, placeholder: "ここに説明文を記入します", class: "form-control col-8" %>
</div>

<div class="row my-2">
  <%= f.label :genre_id, "ジャンル", class: "col-3" %>
  <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name), {}, class: "form-control col-8" %>
</div>

<div class="row my-2">
  <%= f.label :price, "税抜価格", class: "col-3" %>
  <%= f.text_field :price, placeholder: "1000", class: "form-control col-8" %>円
</div>

<div class="row  my-2form-group">
  <%= f.label :is_active, "販売ステータス", class: "col-3" %>
  <% [true, false].each do |st| %>
    <div class="form-check form-check-inline">
      <%= f.radio_button :is_active, st, class: "form-check-input" %>
      <%= f.label :is_active, @item.get_status_string(st), class: "form-check-label" %>
    </div>
  <% end %>
</div>