<div class="row">
<%= render "layouts/section", title: (@title + "(全#{@items_count}件)") %>
<%= link_to "+", new_admin_item_path, class: "btn text-secondary rounded-circle shadow-sm btn-light m-4 ml-auto" %>
</div>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜き価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |i| %>
    <tr>
      <td><%= i.id %></td>
      <td><u><%= link_to i.name, admin_item_path(i), class: "text-dark" %></u></td>
      <td><%= i.price.to_s(:delimited) %></td>
      <td><%= i.genre.name %></td>
      <td><%= render "status", item: i %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @items %>