<%= render "layouts/section", title: "配送先登録/一覧" %>
<%= render "layouts/error_messages", resource: @address %>
<%= form_with model: @address, url: addresses_path, method: :post, local: true do |f| %>
  <%= render "form", f: f, submit: "新規登録" %>
<% end %>
<table class="table table-bordered col-9 mt-5">
  <thead class="thead-light">
    <tr>
      <th>郵便番号</th>
      <th>住所</th>
      <th>宛名</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% current_customer.addresses.each do |ad| %>
    <tr>
      <td class="align-middle"><%= ad.postal_code %></td>
      <td class="align-middle"><%= ad.address %></td>
      <td class="align-middle"><%= ad.name %></td>
      <td class="align-middle"><%= link_to "編集する", edit_address_path(ad), class: "btn btn-success my-auto" %>
      <%= link_to "削除する", address_path(ad), method: :delete, class: "btn btn-danger ml-2 my-auto" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
