<%= render "layouts/section", title: "会員情報編集" %>
<%= render "layouts/error_messages", resource: current_customer %>
<%= form_with(model: current_customer, url: my_page_path(current_customer), method: :patch, local: true) do |f| %>
  <%= render "admin/customers/form", f: f %>
  <div class="actions row">
    <%= f.submit "編集内容を保存", class: "btn btn-success ml-auto" %>
    <%= link_to "退会する", my_page_withdraw_confirm_path, class: "btn btn-danger ml-5 mr-auto" %>
  </div>
<% end %>
