<%= render "layouts/section", title: "マイページ" %>
<div class="row">
  <h4 class="my-auto col-2">登録情報</h4>
  <%= link_to "編集する", edit_my_page_path, class: "btn btn-success my-auto ml-4" %>
</div>
<div class="row my-4">
  <table class="table table-bordered col-8">
    <tbody>
      <tr>
        <th class="bg-light">氏名</th>
        <td><%= current_customer.last_name %> <%= current_customer.first_name %></td>
      </tr>
      <tr>
        <th class="bg-light">カナ</th>
        <td><%= current_customer.last_name_kana %> <%= current_customer.first_name_kana %></td>
      </tr>
      <tr>
        <th class="bg-light">郵便番号</th>
        <td><%= current_customer.postal_code %></td>
      </tr>
      <tr>
        <th class="bg-light">住所</th>
        <td><%= current_customer.address %></td>
      </tr>
      <tr>
        <th class="bg-light">電話番号</th>
        <td><%= current_customer.telephone_number %></td>
      </tr>
      <tr>
        <th class="bg-light">メールアドレス</th>
        <td><%= current_customer.email %></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="row">
  <h4 class="col-2">配送先</h4>
  <%= link_to "一覧を見る", addresses_path, class: "btn btn-primary my-auto" %>
</div>
<div class="row mt-4">
  <h4 class="col-2">注文履歴</h4>
  <%= link_to "一覧を見る", orders_path, class: "btn btn-primary my-auto" %>
</div>
