<h2>注文情報確認</h2>
<%= render "public/cart_items/list", editable: false %>
<table>
  <tbody>
    <tr>
      <td>送料</td>
      <td><%= @order.postage.to_s(:delimited) %></td>
    </tr>
    <tr>
      <td>商品合計</td>
      <td><%= current_customer.cart_total.to_s(:delimited) %></td>
    </tr>
    <tr>
      <td>請求金額</td>
      <td><%= @order.total_fee.to_s(:delimited) %></td>
    </tr>
  </tbody>
</table>
<div>
  <div>支払方法</div>
  <div><%= @order.payment %></div>
</div>
<div>
  <div>お届け先</div>
  <div>
    <%= @order.address_display(false) %><br>
    <%= @order.name %>
  </div>
</div>
<%= form_with model: @order, url: orders_path, method: :post, local: true do |f| %>
  <% [:name, :postal_code, :address, :postage, :total_fee, :order_status, :payment_method].each do |param| %>
     <%= f.hidden_field param, value: @order.send(param) %>
  <% end %>
  <%= f.submit "注文を確定する" %>
<% end %>