<div>
  <%= render "genre" %>
  <%= image_tag @item.get_image(450, 300) %>
  <div>
    <h2><%= @item.name %></h2>
    <p><%= @item.introduction %></p>
    <div>
      <span><%= "￥" + @item.tax_included_price.to_s(:delimited) %></span>
      <span>(税込)</span>
    </div>
    <div>
      <%= form_with model: @cart_item, url: cart_items_path, method: :post, local: true do |f| %>
        <%= f.hidden_field :item_id, value: @item.id %>
        <%= f.label :amount, "個数" %>
        <%= f.select :amount, *[1..@cart_item.amount_diff_max] %>
        <%= f.submit "カートに入れる" %>
      <% end %>
    </div>
  </div>
</div>